.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.topBar {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #495867;
    color: white;
    border-width: 0px;
}
.logo {
    width: 40px;
    height: 30px;
    cursor: pointer;
}
.bodyContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

/* The animation code */
@keyframes showSideBar {
    from {width: 0px;}
    to {width: 35%;}
}

@keyframes hideSideBar {
    from {width: 35%;}
    to {width: 0px;}
} 

.sideBar {
    display: flex;
    flex-direction: column;
    padding: 30px 10px 0px 10px;
    width: 35%;
    max-width: 250px;
    height: calc(100% - 30px);
    background-color: #C18C5D;
}

.showSideBar {
    animation-name: showSideBar;
    animation-duration: 1s;
}

.hideSideBar {
    display: none;
    animation-name: hideSideBar;
    animation-duration: 1s;
}

.menuItem {
    margin-bottom: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #BFD7B5;
    color: black;
    border-width: 0px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.menuItem:hover {
    background-color: #495867;
    color: white;
}

.icon {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}